/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #db1414;
}

.blue {
    color: #1417db;
}

.blue2 {
    color: #0c6ca3;
}

.yellow {
    color: #d8db14;
}
.v-middle {
    vertical-align: middle;
}